.test {
    height: 650px;
    width: 1000px;
    position: center;
}

.hoofd {
    font-weight: bold;
}

body {
    margin-left: 200px;
}

#menu {
    margin-top: 20px;
}
.bovenop{
    position: absolute;
    left: auto;
    right: auto;

}